/* write your override styles here */

#wall .tag-1 {
  display: none;
}

/* Needs a fixin */#tag-2 {
  display: none;
}

#wall #tag-2 + #tag-3 {
  display: none;
}

.parent #tag-4 {
  display: none;
}